# garbage
msenv
*.log
*.pyc
*.pyc
*.swo
*.swp
*.swn
*.gpg
*~
\#*
tmp
pip-log.txt
build
dropin.cache
.sass-cache
dumps/
xapian.*.index

mediasancion/local_settings.py
mediasancion/static/thumb/
mediasancion/static/CACHE/
mediasancion/static/style/*.css
!mediasancion/static/style/all.css

mediasancion/congreso/fixtures/
mediasancion/core/fixtures/
!mediasancion/core/fixtures/distritos.json
