Django==1.2
Scrapy==0.8
South==0.7
Twisted>=10.0,<10.1
django-debug-toolbar
django-extensions==0.5
pdfminer==20100424
psycopg2>=2.2,<2.3
wsgiref==0.1.2
zope.interface==3.6.1
PIL==1.1.7
docutils==0.6
ipdb==0.1
ipython==0.10
Werkzeug==0.6.2
python-cjson==1.0.5

-e git://github.com/k0001/django-restsources.git@46d1f64#egg=django-restsources
-e git://github.com/k0001/django-iso8601.git#egg=django-iso8601
-e git://github.com/k0001/django-gqslpagination.git@615775009#egg=django-gqslpagination
-e git://github.com/dziegler/django-css.git@0115be279347ad55646cc8374d8c8cce008ac6e1#egg=django-css

#needed for dipuparser
BeautifulSoup
simplejson>=2.1,<2.2

#temp
djangohttpdigest==0.2.0

-e git://github.com/toastdriven/django-haystack.git@0e6a62e79b0#egg=django-haystack
-e git://github.com/notanumber/xapian-haystack.git@60f5161ad0e#egg=xapian-haystack
