{% extends "base.html" %}
{% load i18n %}
{% load utils_html %}

{% block title %}{{ comision }}{% endblock %}
{% block htmltitle %}{{ comision|objlink }}{% endblock %}
{% block htmlsubtitle %}Comisión de la Cámara de {{ comision.get_camara_display }}.{% endblock %}

{% block bodyid %}comision-detail{% endblock %}

{% block content %}
  <article class="comision" id="{{ comision.uuid }}">
    {% if comision.descripcion %}
      <p class="descripcion">{{ comision.descripcion }}</div>
    {% endif %}

    <section class="miembros">
      <h1>Miembros</h1>
      <ul class="membresiacomision-list">
        {% for mc in comision.membresiacomision_set.all %}
          <li class="membresiacomision" id="{{ mc.uuid }}">
            <p class="legislador" id="{{ mc.uuid }}">
              {{ mc.legislador|objlink }}
              <span class="cargo" data-cargo="{{ mc.cargo }}">{{ mc.get_cargo_display }}</span>
            </p>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="proyectos">
      <h1>Proyectos</h1>
      <ul class="proyecto-list">
        {% for p in comision.proyecto_set.all %}
          <li class="proyecto" id="{{ p.uuid }}">{{ p|objlink }}</li>
        {% endfor %}
      </ul>
    </section>
  </article>
{% endblock %}
